@media print {
  body {
    display: none;
  }
}
@media screen and (max-width: 640px) {
	div.header {
		float: none;
	}
	div.inner {
		height: auto;
		padding: 0 1%;
		width: 98%;
		min-width: 50%;
		text-align: center;
	}
	h1 {
		text-align: center;
	}
	div.float, img.float, a.float {
		float: none;
		text-align: center;
		margin: 7px auto;
		display: inline-block;
	}
	img.header_logo {
		height: auto;
	}
	.phone_pc {
		display:none !important;
	}	
	.phone_sp {
		display:inline-block !important;
	}	
	div.banner {
		display: none;
	}
	div.content_1 {
		text-align: left;
		max-width: 100%;
	}
	div.content_1 span.strong {
		display: inline-block;
	    float: left;
	    margin-left:4%;
	    margin-top: -18px;
		width:96%;
	}
	div.box_1 {
		margin: 5px;
		margin-bottom: 5px;
	}
	dl.index dt {
		float:none;
		margin-bottom:5px;
		background:url(../images/bullet_1.jpg) no-repeat scroll left 4px ;
	}
	dl.index dd {
	    display:block;
	    padding-left: 23px;
		width:auto;
	}
	div.aside {
		float: none;
		margin: 25px auto;
	}
	div.footer {
		background:url(../images/footer_bg.jpg) repeat left top;
	}
	div.f_l, div.menu_footer {
		float: none;
	}
	div.f_l {
		margin-top: 30px;
	}
	div.menu_footer_1 {
		max-width:288px;
		padding: 20px 0 16px 20px;
	}
	div.menu_footer_1 ul {
		max-width: 144px;
	}
	div.menu_footer_2 {
		display:block;
	}
	div.menu_footer_2 ul li {
		margin:2px 0 2px 8px
	}
	div.menu_footer_2 ul li.menu_1 a {
		background:url(../images/footer_bullet_2.png) no-repeat scroll left center;
	}	
	div.copyright {
 		line-height: 13px;
   		padding: 10px 0 70px;
	}
}
@media screen and (min-width: 641px) and (max-width: 980px) {
	div.header, div.footer, div.nav, div.banner, div.copyright {
		width: 100%;
		min-width: 980px !important;
		max-width: 980px !important;
	}
	div.slide, div.inner {
		margin: 0px 10px !important;
	}
	div.content, div.content_1, img.aside_img_2 {
	    margin: 0;
	}
	div.content_1 p {
		line-height: 20px;
                text-align:left;
	}
        div.content_tuanld p {
                text-align:left;
	}
	div.box_1 p {
	    height: 115px;
	    line-height: 20px;
	}
	div.title_3 {
 	    margin: 20px 0 15px 0;
	}
	div.footer {
	    margin-top: 60%;
	}
}
@media screen and (min-width: 741px) and (max-width: 980px) {
	div.footer {
	    margin-top: 5%;
	}
}