/* CSS DINH TUAN */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: Arial;
	font-size: 30px;
}
p {
	text-align: center;
}

/*CONTAINER*/
.container {
	position: relative;
	width: 800px;
	min-height: 400px;
	margin: 50px auto;
	overflow: hidden;
	border: 1px solid red;
	border-radius: 10px;
}

/*HEADER*/
#header {
	width: 100%;
	height: auto;
	margin: 0 auto;
	color: red;
	font-family: "Algerian";
	border: 1px solid red;
	border-radius: 5px;
}

/*CONTENT*/
.content {
	height: 400px;
	width: 800px;
	position: relative;
	margin:0 auto;
	border-radius: 10px;
	overflow: hidden;
}
.content:hover button {
	opacity: 0.7;
}
.slide-show {
    width: 3200px;
    height: 500px;
    position: absolute;
}
.slide-show img {
	width: 800px;
	height: 400px;
}
.content button {
	width: 40px;
	height: 50px;
	position: absolute;
	top: 180px;
	background: #56aaff;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
	opacity: 0;
}
#prev {
	left: 3%;
}
#prev:hover {
	width: 45px;
	height: 55px;
	background-color: #0000ff;
}
#next {
	left: 92%;
}
#next:hover {
	width: 45px;
	height: 55px;
	background-color: #0000ff;
}
.slide {
    position: relative;
    float: left;
    opacity: 0;
}

/* ICON */
#icon {
	width: 440px;
	margin: 5px auto;
	position: relative;
	top: 350px;
	left: 200px;
}
#icon .icon-show {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #C1E0FF;
	opacity: 0.5;
	float: left;
}
#icon  .icon-show:hover {
	opacity: 1;
	width: 12px;
	height: 12px;
	border: 1px solid #b503a6;
	cursor: pointer;
}